/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-background: #dfdfdf;
    --section-padding: 60px;
}
/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.parent {
    background-color: #ddd;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading {
    color: #cbcbcb;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
    cursor: default;
}
.special-heading + p {
    text-align: center;
    margin-top: -35px;
    font-size: 20px;
    color: #797979;
    cursor: default;
}
@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        font-size: 15px;
        margin-top: -25px;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    background-color: #d1d1d1;
    margin: 0;
    padding: 0;
    min-width: 200px;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}
.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent #d1d1d1 transparent;
    border-style: solid;
    right: 5px;
    top: -19px;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ababab;
}

/* End Header */

/* Start Landing Section */
.landing {
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    text-align: center;
    width: 350px;
}
/* End Landing Section */
/* Start Features */ 
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features i {
    color: var(--main-color);
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: bold;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.col .img {
    width: 260px;
    height: 347px;
    background-color: #cbcbcb;
    margin-left: 50px;
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv h3 {
    margin: 0 0 20px;
}
.services .services-content .srv p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .services-image {
    text-align: center;
    position: relative;
}
.services .services-content .services-image::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
}
@media (max-width: 1199px) {
    .services-image {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}

@media (min-width:677px) and ( max-width:1199px) {
    .portfolio .portfolio-content .card:last-of-type {
        transform: translate(50%, 0px);
        -webkit-transform: translate(50%, 0px);
        -moz-transform: translate(50%, 0px);
        -ms-transform: translate(50%, 0px);
        -o-transform: translate(50%, 0px);
    }
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card img {
    width: 100%;
}
.portfolio .portfolio-content .card h3 {
    margin: 0;
}
.portfolio .portfolio-content .card p {
    line-height: 1.6;
    color: #777;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .about-content .image img {
    width: 100%;
    height: 100%;
}
.about .about-content .image {
    width: 250px;
    height: 300px;
    position: relative;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #cbcbcb;
    width: 75px;
    height: calc(100% + 60px);
    top: -30px;
    left: -5px;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    border-left: 70px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    width: 110px;
    height: 80%;
    top: -30px;
    right: -135px;
    z-index: -1;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
}
/* small screens */
@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        align-items: center;
    }
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
    .about .about-content .text {
        margin-top: 20px;
        text-align: center;
    }
    .about .about-content .image {
        margin-top: 30px;
    }
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contact .info p {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -3px;
    margin-bottom: 10px
}
.contact .info a {
    text-decoration: none;
    display: block;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 800;
    width: fit-content;
}
.contact .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.contact .social i {
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: white;
}
/* Mobile Screens */
@media (max-width:768px) {
    .contact .info p {
        font-size: 25px;
    }
    .contact .info a {
        font-size: 20px;
    }
    .contact .social {
        font-size: 15px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 15px;
}
.footer span {
    color: var(--main-color);
    font-weight: 8000;
}
/* End Footer */